* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorlight: #fff;
  --colordark: #333;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--colorlight) !important;
  text-decoration: none;
}

.link {
  padding: 10px 12px;
}

.drawer-link {
  color: var(--colordark) !important;
  display: block;
  margin: auto;
}
