.expense-form {
  background-color: rgb(28, 31, 41);
  padding: 2.5rem;
  margin: 2.5rem 0;
  border-radius: 1.5rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0, 0.2);
}

.expense-form h4 {
  margin-bottom: 2rem;
}

.expense-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.expense-form form label {
  display: block;
  margin-bottom: 0.5rem;
}

.expense-form form input {
  width: 100%;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
}

.expense-form form .btn {
  grid-column: 2 / span 1;
  justify-self: end;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.25s ease-in;
  padding: 0.7rem 1rem;
  background-color: #eee;
  color: rgb(28, 31, 41);
  border: none;
  border-radius: 1.5rem;
}

.expense-form form .btn:hover {
  background-color: gainsboro;
  color: #333;
}
